


 /* th{ white-space: nowrap; } */
 td, th {text-align: center;}
 /* .card-body{width: 80%;} */
 /* table {width:80%;} */
 .fa-spin{font-size: 2rem;}


tr th{
  color:  #51cbce ; 
}
.fa-spin{font-size: 2rem;}
td a{font-weight: bold;}
/* .blocked td{text-align: right;} */
.name {text-align: left;}
.admin {text-align: right;}
.modal-title{ color:  #51cbce ; }

/* .card-stats .card-body .numbers { */
  /* text-align: right; */
  /* font-size: 1.8em; */
/* } */
 #phoneunlock{font-size: 1.3em;}